div#homepage{

 header{
   .header-up{
     @include bg-header-up;
      padding: 7px 110px;
     ul{
       @include margin-padding-nav;
       @include display-flex-end;
       li{
         margin-right: 20px;
         a{
           text-decoration: none;
           color: $color-lightgrey;
         }
       }
     }
   }
   .header-down{
     @include bg-header-down;
     padding: 10px 150px;
     ul{
       @include margin-padding-nav;
       @include display-flex-around;
       margin-right: 50px;
       a{
         text-decoration: none;
         color: $color-white;
         img{
           width: 70px;
         }
         i{
           vertical-align: middle;
         }
       }
     }
   }
 }

 main{
    height: 100px;
    width: 100%;
   .section-1{
     padding:  20px 160px;
     width: 100%;
     height: 400px;
     background-image: url('../img/bg-painter-home.jpg');
     background-size:cover;
     img{
       width: 150px;
       margin-bottom: 10px;
     }
     p.limited{
       margin: 0;
       font-weight: bold;
       font-size: 10px;
        color: $color-purple;
      }
     div.button{
       @include display-flex-start;
       padding-top: 20px;
       .bg-black{
         background-color: $bg-black;
         border: 1px solid  $color-black;
         margin-right: 20px;
         padding: 5px 15px;
         a {
           color:$color-white;
           text-decoration: none;
         }
       }
       .bg-brown{
         background-color: $bg-brown;
         border: 1px solid  $color-black;
         padding: 5px 15px;
         a{
           color:$color-black;
           text-decoration: none;
         }
       }
      }
    }

    .section-2{
    
    }
  }
}
